{%include 'header.html'%}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">View Questions</h5>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;color: #FFF">
                        <tr class="white">
                            <th scope="col" >S.No</th>
                            <th scope="col">Farmer Name</th>
                            <th scope="col">Question</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in row %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>
                                <a href="{% url 'reply' pk=i.2 %}" class="btn btn-warning"><i class="fa fa-paper-plane"> Answer</i></a></td>
                                
                            
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Questions</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
