{%include 'officer_header.html'%}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">Farming Details</h5>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;color: #FFF">
                        <tr class="white">
                            <th scope="col" >S.No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Water Contain</th>
                            <th scope="col">Fertilizer</th>
                            <th scope="col">Soil</th>
                             <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in a %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.name}}</td>
                            <td>{{i.water_contain}}</td>
                            <td>{{i.fertilizer}}</td>
                            <td>{{i.soil}}</td>
                             <td><a href="{% url 'delete' pk=i.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></td>
                            
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Fertilizers</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
