{%include 'temheader.html'%}
{% load static %}


    <section class="ftco-section">
      <div class="container" >
        <div class="row no-gutters justify-content-center ">
          <div class="col-md-7 text-center heading-section " style="padding-top: 30px;">
            <h2>OFFICER LOGIN</h2>
          </div>
        </div>
		<center>
          <div class="col-md-6 makereservation p-5 bg-light">
		 {% if messages %}
              {% for i in messages %}
                <div class="alert alert-danger">{{i}}</div>
              {% endfor %}
            {% endif %}
            <form  method="post" action="{% url 'officer_login' %}">{% csrf_token %}
              <div class="row">
                  <label for="">Username</label>
                    <input type="text" class="form-control"  name="username" required="required">
                 
               <label for="">Password</label>
                    <input type="password" class="form-control" name="password" required="required" >
                </div>
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <input type="submit" value="Officer Login" class="btn btn-info btn-lg">
                  </div>
                </div>
              </div>
            </form>
          </center>
      </section>
{%include 'temfooter.html'%}