{%include 'officer_header.html'%}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">Upload Video's</h5>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;color: #FFF">
                        <tr class="white">
                            <th scope="col" >S.No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Video</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in b %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.title}}</td>
                            <td><a href="/media/{{i.video}}" class="btn btn-success"><i class="fa fa-download">
                            </a></td>
                            <td><a href="{% url 'delete_officer_video' pk=i.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></td>
                            
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Videos</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
